.section {
  background-color: #000000;
  height: 100vh;
  width: 100%;
  padding: 5vh 5vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2.5vh;
}
.h2 {
  font-size: 3.75em;
  font-family: "arista2.0";
  color: white;
}
.p {
  font-size: 6em;
  font-family: "arista2.0";
  color: white;
  font-weight: 900;
}
.feedback {
  font-size: 1.5em;
  color: #b85f9a;
  font-family: "raleway-heavy";
}
