.rate,
.rateSelection {
  border: transparent;
  text-align: center;
  outline: none;
  width: 2.5em;
  font-size: 2em;
  color: white;
  height: 2.5em;
  background-color: #b85f9a96;
  cursor: pointer;
}
.rateSelection {
  background-color: #000000;
}
