.ulBox {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 50vh;
}
.ulParent {
  width: 49%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.ul {
  list-style: none;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2.5vh;
  width: 100%;
  height: 80%;
  padding: 2.5vh 0;
}
.p {
  font-size: 2em;
  font-family: "Arista2.0";
  color: white;
}
.btnBox {
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin-top: 2.5vh;
}
.btn,
.btnActive {
  background-color: transparent;
  border: 3px solid white;
  padding: 0.5em 1em;
  cursor: pointer;
  color: white;
  border-radius: 10px;
}
.btnActive {
  background-color: #9ab85f;
}
